li {
   font-family: 	Copperplate, Papyrus, fantasy;
   margin-bottom: 0.25rem
}
p {
   font-family: 	Copperplate, Papyrus, fantasy
}
ul {
  list-style-type: circle
}
h1 {
   font-family: Lucida Handwriting, Brush Script MT,  cursive
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button{
 border-style: ridge
}
button{
 border-color: gray;
 margin-top: 1rem;
 width: 222px;
 height: 30px
}
select:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





































































































































































//BH PRODUCTION























































